
div.logform
{
  background-color: aqua;
  margin: 5vh 30vh;
  padding: 5vh;
  display: flex;
  align-items:center;
  justify-content: center;
}

div.center
{
  display: flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
}

button.submit
{
  padding:1vh;
}

nav
{
  background-color:black;
  margin: 0px 0px 0px 10px;
  padding: 10px;

}
nav a
{
  padding: 12px;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
  font-size: 17px;
  color: white;
  font-family: Roboto, sans-serif;
  
  
}

nav a:hover{
  color: rgb(100, 245, 250);
}


input[type=text], input[type=password]
{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


  #map {
    height: 60vh;
    margin: 5vh;
  }

h1 , p {
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
}

div.header
{
  text-align: center;
}

div.search
{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin:0 50px;
  
}

div.search input[type=text]
{
  width: 100%;
}

div.profile
{
border-radius: 50px;
background-color: rgba(32, 31, 31, 0.678);
padding: 5vh 5vh;
color: rgb(255, 255, 255);
margin: 0px 400px;
width: auto;
}

a.edit
{
  margin: 0 50px;
}

button a{
  text-decoration: none;
}


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
